<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style1.css">
    
	</head>
	<body >
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          
        <%for(i=0;i<nav.length;i++){%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container myimage">
  <form  action="#" onsubmit="return validation();">
      <h2>Sign Up</h2>
      <br>
      
        <div class="form-group ">
          <label for="username">User Name</label>
          <input type="text"  id="user" placeholder="Enter your user name" >
          <span id="username" class="text-danger"></span>
          
        </div>
        
      <div class="form-group ">
        <label for="contact">Phone No</label>
        <input type="text"  id="contact" placeholder="Enter your contact No" >
        <span id="contactno" class="text-danger font-weight-bold"></span>
        
      </div>
    
      
        <div class="form-group">
        <label for="email">Email</label>
        <input type="email"  id="email" placeholder="Enter email">
        <span id="emails" class="text-danger"></span>
      </div>
      
        <div class="form-group ">
          <label for="password">Password</label>
          <input type="password"  id="password" placeholder="Enter password">
          <span id="passwords" class="text-danger"></span>
        </div>
        
        <div class="form-row ">
          <label for="confirmpass">Confirm Password</label>
          <input type="password"  id="confirmpass">
          <span id="password2" class="text-danger"></span>
          
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
         Not a member? <a href="signin">Sign in</a>
          
        </div>
        
      
      
      
      

      
      
      
  </form>
  
    
 
 



                                                
                                                                                





	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/validation.js">

    </script>
	</body>
</html>